
	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="{{ 'assets/js/jquery.min.js' | relative_url }}"></script>
	<!-- jQuery Easing -->
	<script src="{{ 'assets/js/jquery.easing.1.3.js' | relative_url }}"></script>
	<!-- Bootstrap -->
	<script src="{{ 'assets/js/bootstrap.min.js' | relative_url }}"></script>
	<!-- Waypoints -->
	<script src="{{ 'assets/js/jquery.waypoints.min.js' | relative_url }}"></script>
	<!-- Stellar Parallax -->
	<script src="{{ 'assets/js/jquery.stellar.min.js' | relative_url }}"></script>
	<!-- Main -->
	<script src="{{ 'assets/js/main.js' | relative_url }}"></script>
