<!DOCTYPE HTML>
<html>
	
	{% include head.html %}
	
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
		<div id="fh5co-aside" style="background-image: url({{ 'assets/images/image_1.jpg' | relative_url }})">
			<div class="overlay"></div>
			<nav role="navigation">
				<ul>
					<li><a href="index.html"><i class="icon-home"></i></a></li>
				</ul>
			</nav>
			<div class="featured">
				<span>Bio</span>
				<h2>I'm John Doe, Creative Director at <a href="http://freehtml5.co">FreeHTML5.co</a></h2>
			</div>
		</div>
		<div id="fh5co-main-content">
			<div class="fh5co-post"> 
			
				{{ content }}
				
				{% include footer.html %}
			</div>
		</div>
	</div>
	
	{% include end_body.html %}
	
	</body>
</html>

